@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin:0px;
  padding: 0px;
  height:100vh;
  background:#111;
  transition: background 1.5s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

img {
  border-radius:20px;
  box-shadow:0 0 60px rgba(0,0,0,0.5);
  max-height:60vh;
}

.content {
    height:100vh;
    width: 100vw;
    display:flex;
    align-items:center;
    background:rgba(255,255,255,0.1);
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    backdrop-filter: blur(10px);
}

.musicConts {
    padding-inline: 10vw;
}

.musicConts h2, h4{
    font-size: 16px;
    color: #e2e2e2;
    padding-block: 4px;
    margin: 0px;
}

.musicConts h2{
    color: #f7f7f7;
    font-size: 18px;
}

.info {
    padding-block: 5px;
}

.time {
    width: 100%;
    display: flex;
}

#cur {
    color: #e2e2e2;
    font-size: 16px; 
}

#dur {
    color: #e2e2e2;
    font-size: 16px;
    padding: 0px;
    margin-inline: 0px;
    margin-left: 89%;
}

.bar {
  margin-top: 10px;
  width: 100%; 
  height:5px;
  background:rgba(255,255,255,0.1);
  border-radius:10px;
  position:relative; cursor:pointer;
}
.fill {
  height:100%; width:0%;
  background: #e2e2e2;
  border-radius:10px;
  transition:width 0.15s linear;
}
.bar::after {
  content:"";
  position: absolute; 
  top:-4px;
  left: calc(var(--pos,0%) - 6px);
  width:12px; height:12px;
  background:#fff; border-radius:50%;
  box-shadow:0 0 10px rgba(255,255,255,0.5);
  transition:left 0.15s linear;
}



